{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete "{{ post.title }}"?</p>
        
        <form method="POST"> {% csrf_token %}
            {% if user.is_authenticated %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary">Cancel</a>
            {% endif %}
        </form>
    </div>
{% endblock %}